flask
annotated-types     
anyio               
blinker             
certifi             
charset-normalizer  
click               
colorama            
Deprecated          
distro              
exceptiongroup      
Flask               
Flask-Limiter       
h11                 
httpcore            
httpx               
idna                
importlib-resources 
itsdangerous        
Jinja2              
limits              
lxml                
markdown-it-py      
MarkupSafe          
mdurl               
openai              
ordered-set         
packaging           
pillow              
pydantic            
pydantic_core       
Pygments            
python-pptx         
requests            
rich                
sniffio             
tqdm                
typing_extensions   
urllib3             
Werkzeug            
wrapt               
XlsxWriter          